* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;

}

.App {
  text-align: center;
  /* display:  */
}


.displayContainer {
  width: 90%;
  margin: 0 auto;
  background-color: yellow;
  padding: 20px;
  border: 1px solid black;
}

/* ? ------ LOGIN PAGE ------- */
.form-wrapper {
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  background-color: blue;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: pink;
  width: 90%;
  margin: 0 auto;
}


h1 {
  margin-bottom: 50px;
}
/* ? ------ INNER DISPLAY ------- */

.petDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: blue;
}

.addDogInput, .loginInput{
  padding: 10px;
  font-size: 1.1em;
}

button {
  padding: 10px;
  font-size: 1.1em;
}



/* ? ------INDIVIDUAL CARDS ------- */
.card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 30%;
  padding: 15px;
  border: 1px solid black;
  margin-bottom: 15px;
}

ul {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  list-style-type: none;
  font-size: 1.1em;
}

.cardButtonsDiv {
  display: flex;
  width: 100%;
  justify-content: space-around;
}


/* ? ------PET DASHBOARD ------- */

.petDashboard {
  border: 1px solid black;
  text-align: center;
}

table {
  width: 80%;
  margin: 20px auto;
  background-color: beige;
  border: 1px solid black;
}

td {
  text-align: center;
  border: 1px solid black;
  padding: 15px;
}

.noCurrentDog {
  margin-top: 20px;
}